<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
   <section name="deploymentConfiguration" type="ScoutUtilities.UIConfiguration.DeploymentConfigurationSettings, ScoutUtilities" allowLocation="true" allowDefinition="Everywhere" />
 </configSections>
 <deploymentConfiguration
   version="${parsedVersion.majorVersion}.${parsedVersion.minorVersion}.${parsedVersion.incrementalVersion}"
   copyrightyear="${current.year}"
 />
</configuration>
